<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu_User Signup</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<form method="post" th:action ="@{/user}">
<div class="form-group">
    <label>Username
        <input type="text" name="username" th:value="${username}"class="form-control">
    </label>
</div>
<div class="form-group">
    <label>Password
        <input type="password" name="password" class="form-control"></label>
</div>
    <div class="form-group">

        <label>Verify Password
            <input type="password" name="verify" class="form-control"></label>
        <p th:text="${errorMsg}" style="color:red;"></p>

    </div>
<div class="form-group">

    <label>Email
        <input type="email" name="email" th:value="${email}"class="form-control"></label>
</div>
<!--    <div class="form-group">-->

<!--        <label>Date-->
<!--            <input type="date" name="date" th:value="${date}"class="form-control"></label>-->
<!--    </div>-->

<div class="form-group">
    <input type="submit" value="Add" class="btn btn-success"></div>
</form>
</body>
</html>    