<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Sign Up</title>
</head>
<body>
    <form method = 'post' th:action="@{/user}">
        <label>
            Username:
            <input th:field="${user.username}" th:value="${user.username}" class="form-control" />
        </label>
        <p class ="error" th:errors="${user.username}"></p>
        <label>
            Email:
            <input th:field="${user.email}" th:value="${user.email}"class="form-control"/>
        </label>
        <p class ="error" th:errors="${user.email}"></p>

        <label>
            Password:
            <input type="password" th:field="${user.password}" class="form-control"/>
        </label>
        <p class ="error" th:errors="${user.password}"></p>

        <!--<label>
            Verify Password:
            <input type ="password" name ="verify" class="form-control"/>
        </label>

        <p class = "error" th:text="${verifyError}"></p>-->
<!-- Bonus  -->
        <label>
            Verify Password:
            <input type ="password" th:field="${user.verifyPassword}" class="form-control"/>
        </label>

        <p class = "error" th:errors="${user.verifyPassword}"></p>

        <input type = 'submit' value = 'Sign Up' />
    </form>

</body>
</html>