<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
<h2>My profile</h2>
    <Strong><p th:text =${name}></p></Strong>
    <Strong><p th:text =${skintype}></p></Strong>
    <Strong><p th:text =${manipedi}></p></Strong>

<h1 th:replace ="fragments :: services"></h1>
<h2 th:replace="fragments :: treatments"></h2>
    <p th:replace ="fragments :: recommended"></p></div>
<div id = "servicesMenu">
   <div th:if ="${manipedi.equals('pedicure')}">
       <th:block th:each="facial:${appropriateFacials}">
        <Strong><p th:text =${facial}></p></Strong>
      </th:block>
       <h2 th:text =${manipedi}></h2>
       <p th:replace="fragments :: pedicureDescription"></p>

   </div>
    <div th:if ="${manipedi .equals('manicure')}">

        <th:block th:each="facial:${appropriateFacials}">
            <Strong><p th:text =${facial}></p></Strong>
        </th:block>
        <h2 th:text =${manipedi}></h2>
        <p th:replace="fragments ::manicureDescription"></p>
    </div>
<!--    <div th:if ="${manipedi=='manicure' AND manipedi== 'pedicure'}">-->

<!--        <th:block th:each="facial:${appropriateFacials}">-->
<!--            <Strong><p th:text =${facial}></p></Strong>-->
<!--        </th:block>-->
<!--        <h2 th:text =${manipedi}></h2>-->
<!--        <p th:replace="fragments ::manicureDescription"></p>-->
<!--        <p th:replace="fragments ::manicureDescription"></p>-->

<!--    </div>-->
    <footer>
        <h2>Nail Polish</h2>
        <span class = "square"></span>
        <span class="square1"></span>
        <span class="square2"></span>
        <span class="square3"></span>

    </footer>
</div>

</body>
</html>